<footer class="footer">
  <span>{{ site.footerText }}</span>
  <a href="{{ site.baseurl }}/static/xml/rss.xml">RSS Haber Kaynağı</a>
  <span>&#183;</span>
  <a href="https://github.com/TMaize/tmaize-blog">TMaize</a>
  <span>Teması.</span>

  {%- if site.extCount %}
    <span>Toplam Ziyaret</span>
    <span id="busuanzi_value_site_pv"></span>
  {% endif %}
  <div class="footer-btn theme-toggler hide">
    <i class="svg-icon icon-theme-light"></i>
  </div>
  <div class="footer-btn to-top">
    <i class="svg-icon icon-arrow-top"></i>
  </div>
</footer>
