.post-image {
    width: 50%;
    display: block;
    margin-top: 1rem;
}

.post-image:hover {
    transition: .3s ease;
    filter: drop-shadow(.2rem .1rem .5rem rgb(107, 107, 107))
}

@media all and (max-width: 576px) {
    .post-image {
        width: 80%;
    }
}