---
---

@import "main";

.post-image {
    width: 50%;
    display: block;
    margin-top: 1rem;
}

.post-image:hover {
    transition: .3s ease;
    filter: drop-shadow(.2rem .1rem .5rem rgb(107, 107, 107))
}

@media all and (max-width: 576px) {
    .post-image {
        width: 80%;
    }
}

.header {
    margin-top: 3em;

}

@font-face {
    font-family: "PT Sans";
    font-style: bold;
    font-weight: 700;
    src: local("PT Sans Bold"), local("PTSans-Bold"),
        url(https://fonts.gstatic.com/s/pt+sans/v18/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format("woff2");
}